In [12]:


import sqlite3

conn = sqlite3.connect('1example.db')
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS users(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    salary REAL,
    is_activate BOOLEAN,
    bio TEXT,
    join_date DATETIME,
    profile_picture BLOB,
    misc_data NUMERIC,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
""")

conn.commit()

In [14]:
import sqlite3

conn = sqlite3.connect('1example.db')
cursor = conn.cursor()

cursor.execute("""
INSERT INTO users (
    name, age, salary, is_activate, bio,
    join_date, profile_picture, misc_data
)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)
""", (
    "kripa",
    21,
    55000.50,
    1,
    "Computer Engineering",
    "2020-01-24 05:00:00",
    None,
    "123.45"
))

conn.commit()

In [15]:
cursor.execute("SELECT * FROM users")
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'kripa', 21, 55000.5, 1, 'computer engineering', '2020-01-24 05:00:00', None, 123.45, '2026-01-21 07:08:16')
(2, 'kripa', 21, 55000.5, 1, 'Computer Engineering', '2020-01-24 05:00:00', None, 123.45, '2026-01-28 13:15:18')
(3, 'kripa', 21, 55000.5, 1, 'Computer Engineering', '2020-01-24 05:00:00', None, 123.45, '2026-01-28 13:15:26')

In [16]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

# setup connection
engine = create_engine('sqlite:///data1.db')

Base = declarative_base()

# define table
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    email = Column(String)
    course = Column(String)

# create table
Base.metadata.create_all(engine)

In [17]:
Session = sessionmaker(bind=engine)
session = Session()

users=[
    
    User(name="be", email="be@.edu",course="engineering"),
     User(name="be", email="be@.edu",course="engineering"),
     
]
session.add_all(users)

session.commit()

In [18]:
#fetch multiple rows and columns
all_users = session.query(User).all()

for user in all_users:
    print(user.id, user.name,user.email, user.course)

1 be be@.edu engineering
2 be be@.edu engineering
3 be be@.edu engineering
4 be be@.edu engineering

In [ ]:
from pymongo import MongoClient


client = MongoClient("mongodb://localhost:27017/")


db = client["my_database"]
users = db["users_collection"]


users.insert_one({
    "id": 1,
    
    "name": "Kripa",
    "age": 21,
    "salary": 555000.40
})

for user in users.find():
    print(user)

{'_id': ObjectId('697a1c3d1c1db99137312b26'), 'id': 1, 'name': 'Kripa', 'age': 21, 'salary': 555000.4}
{'_id': ObjectId('697a1fc248817e2a28529468'), 'id': 1, 'name': 'Kripa', 'age': 21, 'salary': 555000.4}